.link{
    text-decoration: none;
    color: black;
}
.link:hover{
text-decoration: none;
    color: lightslategrey;
    cursor: pointer;
}
.text{
    font-size: 15px;
}
.comment{
    font-size: 18px;
    font-weight: bold;
}
.text-post{
    font-size: 30px;
    font-weight: bold;
}