<#import "/spring.ftl" as spring>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <h2>Token</h2>
    <#if errorText?? >
        <div>
            <p>${errorText!'-- no message --'}</p>
        </div>
    </#if>
    <div>
    <form action="/main/reset-password" method="post">

        <#if _csrf??>
            <input type="hidden" name="${(_csrf.parameterName)!'csrf'}" value="${(_csrf.token)!'--no-token--'}"/>
        </#if>

        <div>
            <label class="flex flex-v-center">
                <p class="label-input-text">Token:</p>
                <input type="text" name="token" placeholder="Token" >
            </label>
        </div>
        <div>
            <label class="flex flex-v-center">
                <p class="label-input-text">New Password:</p>
                <input type="text" name="newPassword" placeholder="New password" >
            </label>
        </div>
        <div>
            <button type="submit">Send</button>
        </div>
    </form>
    </div>
    <div class="bottom-box">
        <a href="/main">
            <button type="button" class="btn btn-warning " id="btn-login">Main page</button>
        </a>
    </div>
</body>
</html>
